.table {
    display: inline-table;
    text-align: center;
    border: solid 1px whitesmoke;
    font-family: tableFont;
    font-size: 20px;
}

@font-face {
    font-family: tableFont;
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}


/* .mb-0 {
    font-size: 25px;
    font-weight: 30px;
} */

@media (min-width: 290px) {
    input,
    button,
    select,
    optgroup,
    textarea {
        line-height: unset;
        font-size: unset;
        font-family: unset;
    }
    .btn {
        font-size: unset;
        line-height: unset;
        font-weight: unset;
    }
    .mb-0 .btn-link {
        font-size: 5pt;
    }
    .table,
    .table th,
    .table td {
        /* display: ; */
        /* padding: 4px; */
        vertical-align: baseline;
        border-top: 1px solid #dee2e6;
        padding-bottom: 10px;
        border-bottom: #dee2e6 double;
        border: 1px solid #dee2e6;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: 5pt;
    }
    .table {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

@media (min-width: 350px) {
    input,
    button,
    select,
    optgroup,
    textarea {
        line-height: unset;
        font-size: unset;
        font-family: unset;
    }
    .btn {
        font-size: unset;
        line-height: unset;
        font-weight: unset;
    }
    .mb-0 .btn-link {
        font-size: 10pt;
    }
    .table,
    .table th,
    .table td {
        vertical-align: baseline;
        border-top: 1px solid #dee2e6;
        padding-bottom: 10px;
        border-bottom: #dee2e6 double;
        border: 1px solid #dee2e6;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: 5pt;
    }
    .table {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .col-sm-6 {
        width: -webkit-fill-available;
    }
}

@media (min-width: 650px) {
    input,
    button,
    select,
    optgroup,
    textarea {
        line-height: unset;
        font-size: unset;
        font-family: unset;
    }
    .btn {
        font-size: unset;
        line-height: unset;
        font-weight: unset;
    }
    .mb-0 .btn-link {
        font-size: 14pt;
    }
    .table,
    .table th,
    .table td {
        vertical-align: baseline;
        border-top: 1px solid #dee2e6;
        padding-bottom: 10px;
        border-bottom: #dee2e6 double;
        border: 1px solid #dee2e6;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: 8pt;
    }
    .table {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

@media (min-width: 1050px) {
    input,
    button,
    select,
    optgroup,
    textarea {
        line-height: unset;
        font-size: unset;
        font-family: unset;
    }
    .btn {
        font-size: unset;
        line-height: unset;
        font-weight: unset;
    }
    .mb-0 .btn-link {
        font-size: 16pt;
    }
    .table,
    .table th,
    .table td {
        vertical-align: baseline;
        border-top: 1px solid #dee2e6;
        padding-bottom: 10px;
        border-bottom: #dee2e6 double;
        border: 1px solid #dee2e6;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: 12pt;
    }
    .table {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

#create {
    display: block;
    /* position: absolute; */
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px #f8f8f82d solid;
    border-radius: 30px;
    background-color: #f8f8f899;
    max-width: 1000px;
}


/* .mb-0 .btn-link {
    font-size: 20pt;
    text-decoration: unset;
    color: white;
    background-color: #343A40;
} */

.mb-0 .btn-link:hover {
    color: #FEC810;
    text-decoration: unset;
}

.mb-0 .btn-link:focus,
.btn-link.focus {
    text-decoration: unset;
    color: #FEC810;
}

.mb-0 .btn-link:disabled,
.btn-link.disabled {
    color: #FEC810;
    pointer-events: none;
}

.row {
    place-content: center;
}

.card-header {
    background-color: #343A40;
}

.accordion>.card>.card-header {
    /* border: 1px white; */
    border-radius: 10px;
}

.card-body {
    background-color: #FBFBFB;
    ;
    border: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid white; */
    border-radius: 0.25rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #343A40;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 31px;
    height: 31px;
    background: #FEC810;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 31px;
    height: 31px;
    background: #FEC810;
    border-radius: 50%;
    cursor: pointer;
}


/* .card-img-top {
    /* border: 1px solid #000000; */


/* }  */

.card img {
    height: 250px;
    width: 100%;
    background-color: #f8f8f899;
    border: unset;
}

#previewPatternTwo {
    height: 150px;
    width: 100%;
    background-color: #FBFBFB;
}

.card .card-body p {
    height: 10px;
    border: none;
    padding-left: 30px;
}

.card-body {
    padding-left: 30px;
}

#contactFormOrder {
    padding-top: 13px;
    padding-bottom: 13px;
    border: 0.1px solid rgba(190, 182, 58, 0.377);
    border-radius: 10px;
}

#orderPreview {
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -12px;
    padding-left: 0px;
    margin-right: -12px;
    padding-right: 0px;
    margin-bottom: -1px;
}

#containerCreate {
    margin-top: 120px;
    padding-bottom: 45px;
    margin-bottom: 150px;
    display: grid;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
    position: relative;
    width: auto;
    padding-right: unset;
    padding-left: unset;
}