<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="../../assets/js/slideScript.js"></script>
<!-- CYCIC == Create your custom instrument cable -->


<!-- <div class="container col-12 col-md-12" id="create"> -->
<!-- <div class="group"> -->
<!-- <div class="" style="padding-top: 70px;padding-left: 2px;padding-right: 2px; padding-bottom: 100px;"> -->
<div class="accordion" id="accordionExample">
    <div class="container" id='containerCreate'>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                    <span id="spanOne">Step 1: What you need?</span>
                                </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="card" style="margin-right: 10px;margin-left: 10px;" (click)="guitarCable()">
                            <img src="assets/img/cycic/guitarcable.jpg" class="card-img-top" alt="..." style="width: 280px;height: 250px;">
                            <div class="card-body">
                                <span id='guitar' class="text-center">Guitar</span>
                            </div>
                        </div>
                        <div class="card" style="margin-right: 10px;margin-left: 10px;" (click)="micCable()">
                            <img src="assets/img/cycic/miccable.jpg" class="card-img-top" alt="..." style="width: 280px;height: 250px;border: black 1px;">
                            <div class="card-body" style="border: black 1px;">
                                <span id='mic' class="text-center">Mic</span>
                            </div>
                        </div>
                        <div class="card" style="margin-right: 10px;margin-left: 10px;" (click)="rcaCable()">
                            <img src="assets/img/cycic/rcacable.jpg" class="card-img-top" alt="..." style="width: 280px;height: 250px;">
                            <div class="card-body">
                                <span id='rca' class="ctext-center">1/4 to RCA.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                   <span id="spanTwo">Step 2: What is your desired cable length?</span>
                                </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="rangeWrapper">
                        <input class="slider" id="slide" type="range" min="1" max="9" step="1" [(ngModel)]="kablDuzina" (click)='proveraDuzine()' onkeypress="proveraDuzine()" name='slide' />
                        <output for="slide"> {{duzinaKabla}} </output>

                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span id='spanThree'>Step 3: Do you want your cable in one or two colors?</span>
                                </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label id="controlSelectLabel"><span id='colorNumberLabel'>How many colors do you want?</span></label>
                                </div>
                                <div class="col-sm-8">
                                    <select [(ngModel)]="cableColorNumber" class="form-control" id="controlSelect" placeholder="Izaberi">
                                                    <option value="1"><span id='cableColorOne'>One</span></option>
                                                    <option value="2"><span id='cableColorTwo'>Two</span></option>
                                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row" *ngIf="cableColorNumber == 2">
                                <div class="col-sm-4">
                                    <label id="controlSelectLabel"><span *ngIf="lang =='en'">Choose a knitting pattern</span><span *ngIf="lang =='sr'">Izaberi redni broj dole prikazanih sablona</span></label>
                                </div>
                                <div class="col-sm-8" *ngIf="lang == 'en'">
                                    <select [(ngModel)]="cablePattern" class="form-control" (click)="previewPattern()">
                                                    <option value="1">1. Pattern</option>
                                                    <option value="2">2. Pattern</option>
                                                    <option value="3">3. Pattern</option>
                                                    <option value="4">4. Pattern</option>
                                                    <option value="5">5. Pattern</option>
                                                    <option value="6">6. Pattern</option>
                                                </select>
                                </div>
                                <div class="col-sm-8" *ngIf="lang == 'sr'">
                                    <select [(ngModel)]="cablePattern" class="form-control" (click)="previewPattern()">
                                                    <option value="1">1. Sablon</option>
                                                    <option value="2">2. Sablon</option>
                                                    <option value="3">3. Sablon</option>
                                                    <option value="4">4. Sablon</option>
                                                    <option value="5">5. Sablon</option>
                                                    <option value="6">6. Sablon</option>
                                                </select>
                                </div>
                                <div class="col-sm-12 " *ngIf="lang == 'en'">
                                    <span>Primary color : <img
                                                        style="background-color: #343A40; width: 10px; height: 10px;" /></span><br>
                                    <span>Secondary color : <img
                                                        style="background-color: #FEC810;width: 10px; height: 10px;" /></span>
                                </div>
                                <div class="col-sm-12 " *ngIf="lang == 'sr'">
                                    <span>Osnovna boja : <img
                                                        style="background-color: #343A40; width: 10px; height: 10px;" /></span><br>
                                    <span>Pomocna boja : <img
                                                        style="background-color: #FEC810;width: 10px; height: 10px;" /></span>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-md-2">
                                                <div class="card">
                                                    <img src="assets/img/create/pattern/pattern-1.svg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <p class="text-center" *ngIf="lang == 'en'">1. Pattern</p>
                                                        <p class="text-center" *ngIf="lang == 'sr'">1. Sablon</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <img src="assets/img/create/pattern/pattern-1l.svg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <p class="text-center" *ngIf="lang == 'en'">2. Pattern</p>
                                                        <p class="text-center" *ngIf="lang == 'sr'">2. Sablon</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <img src="assets/img/create/pattern/pattern-2.svg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <p class="text-center" *ngIf="lang == 'en'">3. Pattern</p>
                                                        <p class="text-center" *ngIf="lang == 'sr'">3. Sablon</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <img src="assets/img/create/pattern/pattern-2l.svg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <p class="text-center" *ngIf="lang == 'en'">4. Pattern</p>
                                                        <p class="text-center" *ngIf="lang == 'sr'">4. Sablon</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <img src="assets/img/create/pattern/pattern-3.svg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <p class="text-center" *ngIf="lang == 'en'">5. Pattern</p>
                                                        <p class="text-center" *ngIf="lang == 'sr'">5. Sablon</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <img src="assets/img/create/pattern/pattern-3l.svg" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <p class="text-center" *ngIf="lang == 'en'">6. Pattern</p>
                                                        <p class="text-center" *ngIf="lang == 'sr'">6. Sablon</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span id='spanFour'>Step 4: What color do you want for your chosen pattern?</span></button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div *ngIf="cableColorNumber == 1" class="row">

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label id="controlSelectLabel"><span *ngIf="lang == 'en'">Select color:</span><span *ngIf="lang == 'sr'">Izaberi boju:</span></label>

                                </div>
                                <div class="col-sm-6">
                                    <select class=form-control [(ngModel)]="singleColor" (click)="previewPatternSingleColor()">
                                                    <option value="1"><span *ngIf="lang == 'en'">White</span><span *ngIf="lang == 'sr'">Bela</span></option>
                                                    <option value="2"><span *ngIf="lang == 'en'">Red</span><span *ngIf="lang == 'sr'">Crvena</span></option>
                                                    <option value="3"><span *ngIf="lang == 'en'">Blue</span><span *ngIf="lang == 'sr'">Plava</span></option>
                                                    <option value="4"><span *ngIf="lang == 'en'">Gold</span><span *ngIf="lang == 'sr'">Zlatna</span></option>
                                                    <option value="5"><span *ngIf="lang == 'en'">Yellow</span><span *ngIf="lang == 'sr'">Zuta</span></option>
                                                    <option value="6"><span *ngIf="lang == 'en'">Green</span><span *ngIf="lang == 'sr'">Zelena</span></option>
                                                    <option value="7"><span *ngIf="lang == 'en'">Gray</span><span *ngIf="lang == 'sr'">Siva</span></option>
                                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div *ngIf="cableColorNumber == 1">
                                <img id="previewPatternSingleColor"></div>
                        </div>

                    </div>
                    <div *ngIf="cableColorNumber == 2" class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label id="controlSelectLabel"><span *ngIf="lang == 'en'">Select your Primary color: </span><span *ngIf="lang == 'sr'">Izaberi osnovnu boju:</span></label>
                                </div>
                                <div class="col-sm-6">
                                    <select [(ngModel)]='primaryColor ' class=form-control (click)='previewPattern() '>
                                                    <option value="1"><span *ngIf="lang == 'en'">White</span><span *ngIf="lang == 'sr'">Bela</span></option>
                                                    <option value="2"><span *ngIf="lang == 'en'">Red</span><span *ngIf="lang == 'sr'">Crvena</span></option>
                                                    <option value="3"><span *ngIf="lang == 'en'">Blue</span><span *ngIf="lang == 'sr'">Plava</span></option>
                                                    <option value="4"><span *ngIf="lang == 'en'">Gold</span><span *ngIf="lang == 'sr'">Zlatna</span></option>
                                                    <option value="5"><span *ngIf="lang == 'en'">Yellow</span><span *ngIf="lang == 'sr'">Zuta</span></option>
                                                    <option value="6"><span *ngIf="lang == 'en'">Green</span><span *ngIf="lang == 'sr'">Zelena</span></option>
                                                    <option value="7"><span *ngIf="lang == 'en'">Gray</span><span *ngIf="lang == 'sr'">Siva</span></option>
                                                </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label id="controlSelectLabel"><span *ngIf="lang == 'en'">Select your Secondary color:</span><span *ngIf="lang == 'sr'">Izaberi pomocnu boju:</span> </label>
                                </div>
                                <div class="col-sm-6">
                                    <select [(ngModel)]='secondaryColor ' class=form-control (click)='previewPattern() '>
                                                    <option *ngIf="primaryColor != 1" value="1"><span *ngIf="lang == 'en'">White</span><span *ngIf="lang == 'sr'">Bela</span></option>
                                                    <option *ngIf="primaryColor != 2" value="2"><span *ngIf="lang == 'en'">Red</span><span *ngIf="lang == 'sr'">Crvena</span></option>
                                                    <option *ngIf="primaryColor != 3" value="3"><span *ngIf="lang == 'en'">Blue</span><span *ngIf="lang == 'sr'">Plava</span></option>
                                                    <option *ngIf="primaryColor != 4" value="4"><span *ngIf="lang == 'en'">Gold</span><span *ngIf="lang == 'sr'">Zlatna</span></option>
                                                    <option *ngIf="primaryColor != 5" value="5"><span *ngIf="lang == 'en'">Yellow</span><span *ngIf="lang == 'sr'">Zuta</span></option>
                                                    <option *ngIf="primaryColor != 6" value="6"><span *ngIf="lang == 'en'">Green</span><span *ngIf="lang == 'sr'">Zelena</span></option>
                                                    <option *ngIf="primaryColor != 7" value="7"><span *ngIf="lang == 'en'">Gray</span><span *ngIf="lang == 'sr'">Siva</span></option>
                                                </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div *ngIf="cableColorNumber == 2 && secondaryColor != 0 && primaryColor !=0 && cablePattern != 0">
                                <img id="previewPattern"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span id="spanFive">Step 5: What is your desired potection color?</span>
                                </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="">
                        <div class="container form-check">
                            <div class="row">

                                <div class="card">
                                    <img src="" class="card-img-top" alt="" style="background-color: red; ">
                                    <div class="card-body">
                                        <input class="form-check-input" type="radio" (click)='c1() ' value="1" id="defaultCheck1">
                                        <label class="form-check-label " for="defaultCheck1">
                                                        <span *ngIf="lang == 'en'">Red</span><span *ngIf="lang == 'sr'">Crvena</span>
                                                    </label>
                                    </div>
                                </div>

                                <div class="card">
                                    <img src="" class="card-img-top" alt="" style="background-color: green; ">
                                    <div class="card-body">
                                        <input class="form-check-input" type="radio" (click)='c2() ' value="2" id="defaultCheck2">
                                        <label class="form-check-label " for="defaultCheck2">
                                                        <span *ngIf="lang == 'en'">Green</span><span *ngIf="lang == 'sr'">Zelena</span>
                                                    </label>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="" class="card-img-top" alt="" style="background-color: blue; ">
                                    <div class="card-body">
                                        <input class="form-check-input" type="radio" value="3" (click)='c3() ' id="defaultCheck3">
                                        <label class="form-check-label " for="defaultCheck3">
                                                        <span *ngIf="lang == 'en'">Blue</span><span *ngIf="lang == 'sr'">Plava</span>
                                                    </label>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="" class="card-img-top" alt="" style="background-color: whitesmoke; ">
                                    <div class="card-body">
                                        <input class="form-check-input" type="radio" value="4" (click)='c4() ' id="defaultCheck4">
                                        <label class="form-check-label " for="defaultCheck4">
                                                        <span *ngIf="lang == 'en'">White</span><span *ngIf="lang == 'sr'">Bela</span>
                                                    </label>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="" class="card-img-top" alt="" style="background-color: black; ">
                                    <div class="card-body">
                                        <input class="form-check-input" type="radio" value="5" (click)='c5() ' id="defaultCheck5">
                                        <label class="form-check-label " for="defaultCheck5">
                                                        <span *ngIf="lang == 'en'">Black</span><span *ngIf="lang == 'sr'">Crna</span>
                                                    </label>
                                    </div>
                                </div>

                                <div class="card">
                                    <img src="" class="card-img-top" alt="" style="background-color: yellow; ">
                                    <div class="card-body">
                                        <input class="form-check-input" type="radio" value="6" (click)='c6() ' id="defaultCheck6">
                                        <label class="form-check-label " for="defaultCheck6">
                                                        <span *ngIf="lang == 'en'">Yellow</span><span *ngIf="lang == 'sr'">Zuta</span>
                                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span id="spanFinal">Final Step: Confirm build?</span>
                                </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="">
                        <div class="container form-check">
                            <div>
                                <div class=" " style="align-content: center; " id='orderPreview'>
                                    <div class="table ">
                                        <thead>
                                            <th>Kabl za</th>
                                            <th>Jack</th>
                                            <th>Duzina</th>
                                            <!-- <th>Broj boja</th> -->
                                            <th *ngIf="cableColorNumber !=0 ">Pattern</th>
                                            <th>Jack shield</th>
                                        </thead>
                                        <tbody>
                                            <td>{{kablNaziv}}</td>
                                            <td>Neutrik</td>
                                            <td>{{duzinaKabla}}</td>
                                            <!-- <td>{{kablbrBoja}}</td> -->
                                            <td *ngIf="cableColorNumber !=0 "><img id="previewPatternTwo"></td>
                                            <td>{{kablBojaJacka}}</td>
                                        </tbody>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form ">
                                    <div class="row align-items-stretch mb-5 " id='contactFormOrder'>
                                        <div class="col-md-12 ">
                                            <div class="form-group ">
                                                <input type="text " [(ngModel)]="yourName " name="name " class="form-control " id="name " type="text " placeholder="Your Name * " required="required " data-validation-required-message="Please
                                            enter your name. " />
                                                <p class="help-block text-danger "></p>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <div class="form-group ">
                                                        <input type="text " [(ngModel)]="city " name="name " class="form-control " id="city " type="text " placeholder="Your City * " required="required " data-validation-required-message="Please
                                            enter your city. " />
                                                        <p class="help-block text-danger "></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-group ">
                                                        <input type="text " [(ngModel)]="zipCode " name="name " class="form-control " id="zipCode " type="text " placeholder="Your ZipCode * " required="required
                                            " data-validation-required-message="Please enter your zipcode. " />
                                                        <p class="help-block text-danger "></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <input type="text " [(ngModel)]="yourAddress " name="name " class="form-control " id="name " type="text " placeholder="Your Address * " required="required
                                            " data-validation-required-message="Please enter your address. " />
                                                <p class="help-block text-danger "></p>
                                            </div>
                                            <div class="form-group ">
                                                <input type="email " class="form-control " name="_replyto " id="email " type="email " placeholder="Your Email * " required="required " data-validation-required-message="Please enter your email
                                            address. " />
                                                <p class="help-block text-danger "></p>
                                            </div>
                                            <div class="form-group mb-md-0 ">
                                                <input type="number " name="tel " class="form-control " id="phone " type="tel " placeholder="Your Phone * " required="required " data-validation-required-message="Please enter your phone number. " />
                                                <p class="help-block text-danger "></p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="form-group form-group-textarea mb-md-0 ">
                                                <button type='submit' class="btn btn-primary btn-xl " value="Send " id='btnSendOrder' (click)=sendOrder()>Send order</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->