.table {
    display: inline-table;
    text-align: center;
    border: solid 1px whitesmoke;
    font-family:tableFont;
    font-size: 20px;
}
@font-face {
    font-family: tableFont;
 
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}

.mb-0 {
    font-family: tableFont;
    font-size: 25px;
    font-weight: 30px;
}



.mb-0 .btn-link {
    font-size: 23px;
    text-decoration: unset;
    color:white;
    background-color: #343A40;
  }
  .mb-0 .btn-link:hover {
    color:#FEC810;
    text-decoration: unset;
  }
  .mb-0 .btn-link:focus, .btn-link.focus {
    text-decoration: unset;
    color:#FEC810;
  }
  .mb-0 .btn-link:disabled, .btn-link.disabled {
       color:#FEC810;
    pointer-events: none;
  }

.row {
    place-content: center;
}
.card-header {
    background-color: #343A40;
    

}
.accordion > .card > .card-header{
    border: 1px white;
    border-radius: 10px;
}
.card-body {
    background-color: #f8f8f899;
    border: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid white;
    border-radius: 0.25rem;
  }

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #343A40;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 31px;
    height: 31px;
    background: #FEC810;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 31px;
    height: 31px;
    background: #FEC810;
    border-radius: 50%;
    cursor: pointer;
  }
  .card-img-top {
    border: 1px solid #000000;
  }
  .card img {
    height: 250px;
    width: 100%;
  }
  .card .card-body p {
    height: 10px;
    border: none;
    padding:0px;
  }