<section class="page-section" id="process">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" *ngIf="lang == 'en'">What can I choose? </h2>
            <h2 class="section-heading text-uppercase" *ngIf="lang == 'sr'">Sta je na meni da odaberem?</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceOne class="h4">1st choice</span>
                    </div>
                    <div class="timeline-body">
                        <span *ngIf="lang == 'en'">
                            "We offer you the opportunity to create your own cable. It is up to you to mark what you
                            need."
                        </span>
                        <span *ngIf="lang == 'sr'">
                            "Nudimo vam mogucnost da kreirate kabel bas onakav kakav vi zelite. Tako da krenimo od namene."
                        </span>
                        <p class="text-muted" *ngIf="lang == 'en'"> (Guitar, microphone, sound system, etc.)</p>
                        <p class="text-muted" *ngIf="lang == 'sr'"> (Gitara, mikrofon, zvucni sistem ...)</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceTwo class="h4">2nd choice</span>
                    </div>
                    <div class="timeline-body">
                        <p>"It is up to you to decide on the desired cable length.<br> If none of the standard lengths suits you, send us an email with a measure that would suit you."</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceThree class="h4">3rd choice</span>
                    </div>
                    <div class="timeline-body">
                        <p class="">"Each cable we make is protected with 48 or 64 threads of quality thread, depending on the purpose of the cable. That's why we give you the opportunity to choose whether you want one or two colors. In case of choosing two colors,
                            you get the possibility to choose a knitting pattern."</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceFour class="h4">4th choice</span>
                    </div>
                    <div class="timeline-body">
                        <p class="">"In the very end, you can choose the color of the protection of the connector itself. The protection passes over the connector and one small part of the cable and thus prevents possible damage to the connection between the cable
                            and the connector."</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div id="create" class="timeline-image" style="cursor: pointer;">
                    <a (click)="create()">
                        <h4>Create<br />Your<br />Story!</h4>
                    </a>

                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span class="h5">Ready,</span><span class="h4"> set,</span><span class="h3"> and Begin!</span>
                    </div>
                    <div class="timeline-body">
                        <a class="a"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>