<section class="page-section" id="process">
    <div class="container">
        <div class="text-center">
            <!-- <h2 class="section-heading text-uppercase" *ngIf="lang == 'en'">We offer you the opportunity to create your own cable </h2>
            -->
            <h4 class="section-heading text-uppercase" *ngIf="lang == 'en'">What can I custom? </h4>
            <h4 class="section-heading text-uppercase" *ngIf="lang == 'sr'">Šta mogu ja da biram?</h4>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceOne class="h4">Cable type</span>
                    </div>
                    <div class="timeline-body">
                        <span *ngIf="lang == 'en'">
                            "Choose cable usage. Do you need cable for a guitar, microphone or sound system?"
                        </span>
                        <span *ngIf="lang == 'sr'">
                            "Izaberite namenu kabla. Da li vam je kabl potreban za gitaru, mikrofon, neki zvucni sistem
                            itd...?"
                        </span>
                        <!-- <p class="text-muted" *ngIf="lang == 'en'"> ()</p> -->
                        <!-- <p class="text-muted" *ngIf="lang == 'sr'"> (Gitara, mikrofon, zvucni sistem ...)</p> -->
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceTwo class="h4">Length</span>
                    </div>
                    <div class="timeline-body">
                        <span *ngIf="lang == 'en'">"We offer lengths from 1 to 10 meters. If none of the standard
                            lengths suits you,<span style='cursor:pointer; color:red' (click)='toContact()'> make your
                                order by sending us email."</span></span>
                        <span *ngIf="lang == 'sr'">"Nudimo vam izbor dužine od 1 do 10 metara. Ako vam ne odgovara ni
                            jedna od ponuđenih dužina,<span style='cursor:pointer; color:red' (click)='toContact()'>
                                napravite porudžbinu slanjem email-a."</span></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceThree class="h4">Color & Pattern</span>
                    </div>
                    <div class="timeline-body">
                        <span *ngIf="lang == 'en'">"Cables are protected with the high-quality thread, that consists of
                            48 or 64 threads. You can choose one or two colors for the protection thread. In the case of
                            choosing two colors, you get the possibility to choose between 6 different knitting
                            patterns."</span>
                        <span *ngIf="lang == 'sr'">"Kablovi su zaštićeni sa visoko kvalitetnim koncem, koji se sastoji
                            od 48 ili 64 niti. Možete izabrati zaštitu u jednoj ili dve boje konca. U slučaju odabira
                            dve boje, pored izbora boja birate i šablon po kojem će se zaštita isplesti oko vašeg
                            kabla."</span>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span id=choiceFour class="h4">Jack connector protection</span>
                    </div>
                    <div class="timeline-body">
                        <span *ngIf="lang == 'en'">"In the very end, choose the color of the jack connector protection.
                            The protection passes over the connector and one small part of the cable and thus prevents
                            possible damage to the connection between the cable
                            and the connector."</span>
                        <span *ngIf="lang == 'sr'">"Za sam kraj, izaberite boju zaštite konektora.
                            Zaštita prelazi preko konektora i jednog malog dela kabla i na taj način štiti kabl na mestu gde se spaja kabl i konektor. "</span>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div id="create" class="timeline-image" style="cursor: pointer;">
                    <a (click)="create()">
                        <h4><br>Custom<br>Cable<br></h4>
                    </a>

                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span class="h5">Ready,</span><span class="h4"> set,</span><span class="h3"> and Begin!</span>
                    </div>
                    <div class="timeline-body">
                        <a class="a"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>