<section class="page-section" id="process">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Process</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1st choice</h4>
                    </div>
                    <div class="timeline-body"><p >
                        "We offer you the opportunity to create your own cable. It is up to you to mark what you need."
                        </p><p class="text-muted">    (Guitar, microphone, sound system, etc.)</p ></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2nd choice</h4>
                    </div>
                    <div class="timeline-body"><p>"It is up to you to decide on the desired cable length.<br> If none of the standard lengths suits you, send us an email with a measure that would suit you."</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>3rd choice</h4>
                    </div>
                    <div class="timeline-body"><p class="">"Each cable we make is protected with 48 or 64 threads of quality thread, depending on the purpose of the cable.
                        That's why we give you the opportunity to choose whether you want one or two colors. In case of choosing two colors, you get the possibility to choose a knitting pattern."</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>4th choice</h4>
                    </div>
                    <div class="timeline-body"><p class="">"In the very end, you can choose the color of the protection of the connector itself.
                        The protection passes over the connector and one small part of the cable and thus prevents possible damage to the connection between the cable and the connector."</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>Create<br />Your<br />Story!</h4>
                </div>
            </li>
        </ul>
    </div>
</section>