<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" lang="en">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger"><img style="cursor: pointer;" (click)="homeLink()" src="assets/img/navbar/logo.svg" /></a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span *ngIf="lang == 'en'">Menu</span>
            <span *ngIf="lang == 'sr'">Meni</span>
            <i class="fas fa-bars ml-1"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a id='create' class="nav-link js-scroll-trigger" (click)="createLink()">
                        <span *ngIf="lang == 'en'">Create</span>
                        <span *ngIf="lang == 'sr'">Kreiraj</span></a>
                </li>
                <li class="nav-item">
                    <a id='gallery' class="nav-link js-scroll-trigger" (click)="galleryLink()">
                        <span *ngIf="lang == 'en'">Gallery</span>
                        <span *ngIf="lang == 'sr'">Slike</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id='about' class="nav-link js-scroll-trigger" (click)="aboutLink()">
                        <span *ngIf="lang == 'en'">About</span>
                        <span *ngIf="lang == 'sr'">O procesu</span></a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li> -->
                <li class="nav-item">
                    <a id='contact' class="nav-link js-scroll-trigger" (click)="contactLink()">
                        <span *ngIf="lang == 'en'">Contact</span>
                        <span *ngIf="lang == 'sr'">Kontakt</span>
                    </a>
                </li>
            </ul>
            <select [(ngModel)]="lang" (change)="setLangLinkClick()" (keyup)='setLangLink($event)' (pan)="setLangLink($event)">
                <option value='en'>English</option>'
                <option value='sr'>Serbian</option>'
            </select>
        </div>
        <div class="cart float-right" style="padding-right: 10px;">
            <label (click)='print()' data-toggle="collapse" data-target="#ViewCart">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <span class="items-count">{{orderSize}}
                </span> 
            </label>
            <div class="items-list collapse" id="ViewCart">
                <div class="item" *ngFor="let order of orders">
                    <div class="row">
                        <div class="col-4">
                            <div class="item-pic">
                                <img src="{{order.srcFullPathForColor}}" class="img-fluid" alt="product" style="border: 0px solid">
                            </div>
                        </div>
                        <div class="col-8 pl-0">
                            <h6 class="item-name" *ngIf="order.cableType == 1">
                                <span *ngIf="lang == 'sr'">Gitara</span>
                                <span *ngIf="lang == 'en'">Guitar</span>
                                <span> - </span><span>{{order.calbeLength}}m</span>
                                <span *ngIf="order.cableJackProtection == 1"> - WHITE</span>
                                <span *ngIf="order.cableJackProtection == 2"> - RED</span>
                                <span *ngIf="order.cableJackProtection == 3"> - BLUE</span>
                                <span *ngIf="order.cableJackProtection == 4"> - YELLOW</span>
                                <span *ngIf="order.cableJackProtection == 5"> - GREEN</span>
                                <span *ngIf="order.cableJackProtection == 6"> - BLACK</span>

                            </h6>
                            <h6 class="item-name" *ngIf="order.cableType == 2">
                                <span *ngIf="lang == 'sr'">Mikrofon</span>
                                <span *ngIf="lang == 'en'">Mic</span>
                                <span> - </span><span>{{order.calbeLength}}m</span>
                                <span *ngIf="order.cableJackProtection == 1"> - WHITE</span>
                                <span *ngIf="order.cableJackProtection == 2"> - RED</span>
                                <span *ngIf="order.cableJackProtection == 3"> - BLUE</span>
                                <span *ngIf="order.cableJackProtection == 4"> - YELLOW</span>
                                <span *ngIf="order.cableJackProtection == 5"> - GREEN</span>
                                <span *ngIf="order.cableJackProtection == 6"> - BLACK</span>
                            </h6>
                            <h6 class="item-name" *ngIf="order.cableType == 3">
                                <span *ngIf="lang == 'sr'">Rca</span>
                                <span *ngIf="lang == 'en'">Rca</span>
                                <span> - </span><span>{{order.calbeLength}}m</span>
                                <span *ngIf="order.cableJackProtection == 1"> - WHITE</span>
                                <span *ngIf="order.cableJackProtection == 2"> - RED</span>
                                <span *ngIf="order.cableJackProtection == 3"> - BLUE</span>
                                <span *ngIf="order.cableJackProtection == 4"> - YELLOW</span>
                                <span *ngIf="order.cableJackProtection == 5"> - GREEN</span>
                                <span *ngIf="order.cableJackProtection == 6"> - BLACK</span>
                            </h6>
                            <p class="item-price">{{order.orderPrice}} RSD</p>
                            <span class="item-remove"><i class="fa fa-times" aria-hidden="true" (click)='remove(order.orderId)'></i></span>
                        </div>

                    </div>

                </div>
                <div class="col-8 pl-0">
                    <div class="h6 item-name float-left">
                        <span *ngIf="lang == 'sr'">Ukupno: </span>
                        <span *ngIf="lang == 'en'">Total price:</span>
                        <span class="item-price float-right">{{totalPrice}} RSD</span>
                        <span class=" float-right">
                            <button class="btn btn-primary" (click)='goToOrderPreview()'>
                                <span *ngIf="lang == 'sr'">Poruči</span>
                        <span *ngIf="lang == 'en'">Order</span>
                        </button>
                        </span>

                    </div>


                </div>
            </div>
        </div>
    </div>

</nav>