<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <div class="section-heading text-uppercase">
                <span class="h2" *ngIf="lang == 'en'">Gallery</span>
                <span class="h2" *ngIf="lang == 'sr'">Galerija</span>
            </div>
            <h3 class=" h3 section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
                <button class="btn btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"></button>
                <button class="btn btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"></button>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
                <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
                <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides and lightbox-->

            <div class="carousel-inner mdb-lightbox" role="listbox">
                <div id="mdb-lightbox-ui"></div>
                <!--First slide-->
                <div class=" carousel-item active text-center">

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0234.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0234.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0235.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0235.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0246.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0246.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0234.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0247.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0235.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0261.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0246.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0262.JPG" class="img-fluid">
                        </a>
                    </figure>

                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class=" carousel-item active text-center">

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0234.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0234.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0235.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0235.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0246.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0246.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0234.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0247.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0235.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0261.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0246.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0262.JPG" class="img-fluid">
                        </a>
                    </figure>

                </div>
                <!--/.Second slide-->

                <div class=" carousel-item active text-center">

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0234.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0234.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0235.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0235.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0246.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0246.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0234.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0247.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0235.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0261.JPG" class="img-fluid">
                        </a>
                    </figure>

                    <figure class="col-md-4 d-md-inline-block">
                        <a href="../../assets/img/gallery/DSCN0246.JPG" data-size="1600x1067">
                            <img src="../../assets/img/gallery/DSCN0262.JPG" class="img-fluid">
                        </a>
                    </figure>

                </div>




            </div>

        </div>
    </div>

</section>