<header class="masthead">

    <div class="masthead-subheading"><img src="assets/img/logos/logo.svg" /></div>
    <!-- <div class="masthead-subheading">It's Nice To Meet You!</div> -->
    <div class="masthead-heading ">
        <span *ngIf="lang == 'en'">Did you hear about the Custom Cable?</span>
        <span *ngIf="lang == 'sr'">Da li ste čuli za Custom Cable?</span>
    </div>
    <a class="btn btn-primary btn-xl js-scroll-trigger" (click)="aboutLink()">
        <span *ngIf="lang == 'en'">Tell Me More</span>
        <span *ngIf="lang == 'sr'">Saznaj više</span> </a>

</header>